
html {background-color: lightcoral ;
}
.home-container {
  width: 100%;
  display: flex;
  min-height: 100%;
  align-items: flex-start;
  flex-direction: column;
  position:absolute;
}

.pit-container {
    margin-left: 10%;
    margin-top: 15%;    
    width: 1040px;
    display: flex;
    height: 300px;
    align-items: flex-start;
    flex-direction: column;
    position:absolute;
    border:10px solid black;
  
}
.home-containermenu {
  margin-top: 5%;
  flex: initial;
  width: 100%;
  height: 60px;
  margin-left: 10%;
  display: flex;
  align-items: flex-start;
}
.button {
  width: 20%;
  height: 100%;
  align-items: center;
  background-color: transparent;
  margin-right: 75px;
  border:5px solid black;
}
.player1 {
  flex:initial;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.count {
  font-weight: bold;
  margin-top: 30px;
}

.count-big {
  font-weight: bold;
  margin-top: 75px;
}
.player2 {
  flex:initial;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  width: 100%;
  height: 100%;
}
.number {
  flex:initial;
  display: flex;
  width: 30%;
  height: 15%;
  font-weight: bold;
}
.bigPit {
  flex:initial;
  display: flex;
  height: 15%;
  font-weight: bold;
}
.alert-message {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 40%;
  align-items: center;
}
.home-container-big-1 {
  flex: initial;
  width: 120px;
  height: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background:url("images/pit.jpg") lightcoral;
  background-size:contain;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  border:2px solid black;
}

.home-container-big-2 {
  flex: initial;
  width: 120px;
  height: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: -120px;
  background:url("images/pit.jpg") lightcoral;
  background-size:contain;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  border:2px solid black;
}
.home-container-small {
  flex: initial;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background:url("images/pit.jpg") lightcoral;
  background-blend-mode: multiply;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  border:2px solid black;
}

.home-container-firstrow {
  width: 840px;
  margin-left: 40px;
  margin-top: 25px;
  flex: initial;
  height: 120px;
  display: flex;
  align-items: flex-center;
}
.home-container-secondrow {
  width: 840px;
  flex: initial;
  margin-left: 160px;
  height: 120px;
  display: flex;
  align-items: flex-center;
}

